doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        link(rel="icon" type="image/x-icon" href="/images/popbobpaper.png")
    body
        div.slideshow
            s#s1
            s#s2
            s#s3
            div.slider
                div(style="background: url('/images/mushroomisland1.png') no-repeat center;")
                div(style="background: url('/images/mushroomisland2.png') no-repeat center;")
                div(style="background: url('/images/mushroomisland3.png') no-repeat center;")
            div.prevNext
                div
                    a(href="#s3")
                    a(href="#s2")
                div
                    a(href="#s1")
                    a(href="#s3")
                div
                    a(href="#s2")
                    a(href="#s1")
            div.bullets
                a(href="#s1") &bull;
                a(href="#s2") &bull;
                a(href="#s3") &bull;
        div.wrapper-buttons
            button(onclick="window.open('https://forms.gle/pPf18wze43VjyUc26','_blank');" type="button").white-button Apply
            button(onclick="window.open('https://discord.gg/qBUM7bYAaW','_blank');" type="button").blue-button Discord
        h1#pageTitle AusTech